.heading{
    margin-top: 30px;
    margin-left: 40px;
    float: left;
}

.text{
    font-size: 70px;
    color: brown;
}

.button{
    float: right;
    margin-top: 70px;
    padding-right: 40px;


}

.btn{
    background: transparent;
    border-radius: 10px;
    padding: 15px 25px;
    border: 1px solid lightseagreen;
    color: lightseagreen;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background: transparent;
    border: 1px solid brown; 
    color: brown;
    transition: 0.3s;
}

.para{
    clear: both;
    padding-left: 40px;
}

.para p{
    font-size: 20px;
    color: grey;
}

hr{
    width: 91%;
    color: blue;
    height: 1px;
    background-color: lightseagreen;
}

.privacy-policy{
    width: 900px;
    padding-left: 50px;
}

.privacy-policy h1{
    color: darkcyan;
    font-weight: 500;
    margin-bottom: -15px;
}

.privacy-policy p{
    font-size: 20px;
    padding-bottom: 20px;
}

.privacy-policy ul li{
    font-size: 20px;
}


/* Footer A design in this website */
/* Create footer in website */
.links{
    text-align: center;
    padding-bottom: 120px;
    font-size: 17px;
}

.links a{
    text-decoration: none;
    transition: 0.2s;
    color: skyblue;
}

.links a:hover{
    color: brown;
}